@model IEnumerable<IMS.models.Entity.SupplierInfo>

<div class="row">
    <div class="col-12">
        <a class="btn btn-primary float-end" asp-action="AddEdit">Add New</a>
    </div>
</div>

<div class="row col-12">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(p => p.SupplierName)
                </th>
                <th>
                    @Html.DisplayNameFor(p => p.ContactPerson)
                </th>
                <th>
                    @Html.DisplayNameFor(p => p.PhoneNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(p => p.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(p => p.Address)
                </th>
                
                <th>
                    @Html.DisplayNameFor(p => p.IsActive)
                </th>
                <th>
                    Action
                </th>
            </tr>
        </thead>

        <tbody>
            @foreach (var items in Model)
            {
                <tr>
                    <td>
                        @items.SupplierName
                    </td>
                    <td>
                        @items.ContactPerson
                    </td>
                    <td>
                        @items.PhoneNumber
                    </td>
                    <td>
                        @items.Email
                    </td>
                    <td>
                        @items.Address
                    </td>
                   
                    <td>
                        @items.IsActive
                    </td>
                    <td>
                        <a class="btn btn-primary btn-sm" asp-action="AddEdit" asp-route-id="@items.Id">Edit</a>
                    </td>

                </tr>
            }



        </tbody>

    </table>

</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}