@model IMS.models.Entity.ProductRateInfo


@{
    ViewData["Title"] = "Product Purchase Management"; //Browser tab title

    <!-- Display Content Box Title of the page ADD/EDIT based on model value-->
    if (Model.Id > 0)
    {
        ViewData["ContentBoxTitle"] = "Update Purchase Product";
    }
    else
    {
        ViewData["ContentBoxTitle"] = "Add Purchase Product";
    }
}




@if (Model.Id > 0)
{
    <div>
        <p>Update Purchase Product</p>
    </div>
}
else
{
    <div>
        <p>Add Purchase Product</p>
    </div>
}

<form method="post" asp-action="AddEdit" enctype="multipart/form-data">
    <input asp-for="Id" hidden />


    <div class="row">
        <div class="col-4">
            <div class="form-group">
                <label class="form-label" asp-for="CategoryInfoId"></label>
                <select asp-for="CategoryInfoId" id="CategoryInfoId" class="form-control" asp-items="@(new SelectList(ViewBag.CategoryInfos,"Id","CategoryName"))">
                    <option value="null" selected disabled>-Choose-</option>
                </select>

                <span class="text-danger" asp-validation-for="CategoryInfoId"></span>
            </div>
        </div>
        <div class="col-4">
            <div class="form-group">
                <label class="form-label" asp-for="ProductInfoId"></label>
                <select asp-for="ProductInfoId" id="ProductInfoId" class="form-control" asp-items="@(new SelectList(ViewBag.ProductInfos,"Id","ProductName"))">
                    <option value="null" selected disabled>-Choose-</option>
                </select>

                <span class="text-danger" asp-validation-for="ProductInfoId"></span>
            </div>
        </div>
        <div class="col-4">
            <div class="form-group">
                <label class="form-label" asp-for="Quantity"></label>
                <input class="form-control" asp-for="Quantity" />
                <span asp-validation-for="Quantity"></span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-4">
            <div class="form-group">
                <label class="form-label" asp-for="UnitId"></label>
                <select id="UnitId" class="form-control" asp-items="@(new SelectList(ViewBag.UnitInfos,"Id","UnitName"))" disabled>
                    <option value="null" selected disabled>-Choose-</option>
                </select>

                <span class="text-danger" asp-validation-for="UnitId"></span>
            </div>
            
        </div>
        <div class="col-4">
            <div class="form-group">
                <label class="form-label" asp-for="CostPrice"></label>
                <input class="form-control" asp-for="CostPrice" />
                <span asp-validation-for="CostPrice"></span>
            </div>
        </div>
        <div class="col-4">
            <div class="form-group">
                <label class="form-label" asp-for="SellingPrice"></label>
                <input class="form-control" asp-for="SellingPrice" />
                <span asp-validation-for="SellingPrice"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <div class="form-group">
                <label class="form-label" asp-for="BatchNo"></label>
                <input class="form-control" asp-for="BatchNo" />
                <span asp-validation-for="BatchNo"></span>
            </div>
        </div>
        <div class="col-4">
            <div class="form-group">
                <label class="form-label" asp-for="RackInfoId"></label>
                <select asp-for="RackInfoId" class="form-control" asp-items="@(new SelectList(ViewBag.RackInfos,"Id","RackName"))">
                    <option value="null" selected disabled>-Choose-</option>
                </select>
                <span asp-validation-for="RackInfoId"></span>
            </div>
        </div>
        <div class="col-4">
            <div class="form-group">
                <label class="form-label" asp-for="SupplierInfoId"></label>
                <select asp-for="SupplierInfoId" class="form-control" asp-items="@(new SelectList(ViewBag.SupplierInfos,"Id","SupplierName"))">
                    <option value="null" selected disabled>-Choose-</option>
                </select>

                <span class="text-danger" asp-validation-for="SupplierInfoId"></span>
            </div>
        </div>
       
    </div>
    <div class="row">
        <div class="col-4">
            <div class="form-group">
                <label class="form-label" asp-for="PurchasedDate"></label>
                <input type="date" class="form-control" asp-for="PurchasedDate" />
                <span asp-validation-for="PurchasedDate"></span>
            </div>
        </div>
        <div class="col-4">
            <div class="form-group">
                <label class="form-label" asp-for="Expirydate"></label>
                <input type="month" class="form-control" asp-for="Expirydate" />
                <span asp-validation-for="Expirydate"></span>
            </div>
        </div>

        <div class="col-6">
            <div class="form-group">
                <input class="form-check-input" type="checkbox" asp-for="IsActive">
                <label class="form-check-label" asp-for="IsActive">

                </label>
                <span asp-validation-for="IsActive" class="text-danger"></span>
            </div>
        </div>

    </div>




    <div class="row">
        <div class="col-6">

            <a class="btn mt-2 btn-secondary" asp-action="Index">Back to List</a>

        </div>

        @if (Model.Id > 0)
        {
            <div class="col-6">
                <button class="btn mt-2 btn-primary  float-end" type="submit">Update</button>
            </div>
        }
        else
        {
            <div class="col-6">
                <button class="btn mt-2 btn-primary  float-end" type="submit">Create</button>
            </div>
        }

    </div>
</form>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script>

        
        $('#CategoryInfoId').change(function () {

            ChangeProduct();
        });

        function ChangeProduct(){

            var categoryId = $('#CategoryInfoId').val();

            $.ajax({
                url: '/api/ProductRate/getproduct',
                data: { CategoryId: categoryId },
                method: 'POST',
            }).done(function (data) {

                console.log(data);

                optionDistVal = '<option disabled selected> -Choose- </option>'
                $.each(data['productList'], function (index, value) {
                    optionDistVal += '<option value="' + value['id'] + '">' + value['productName'] + '</option>'
                });

                $('#ProductInfoId').empty();
                $('#ProductInfoId').append(optionDistVal);

            }).fail(function () {
                
            });


        }


        $('#ProductInfoId').change(function () {

            ChangeUnit();
        });

        function ChangeUnit() {

            var productId = $('#ProductInfoId').val();

            $.ajax({
                url: '/api/ProductRate/getUnit',
                data: { ProductId: productId },
                method: 'POST',
            }).done(function (data) {

                console.log(data);

                $('#UnitId').val(data.product.unitInfoId);
                $('#UnitIdd').val(data.product.unitInfoId);
               
            }).fail(function () {

            });


        }



    </script>
}