@model IEnumerable<IMS.models.Entity.ProductInvoiceInfo>
@using IMS.models.Enum

<div class="row">
    <div class="col-12">
        <a class="btn btn-primary float-end" asp-action="Transaction">Add Transaction</a>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <table class="table table-bordered table-responsive">
            <thead>
                <tr>
                    <th>
                        Invoice No
                    </th>
                    <th>
                        Transaction Date
                    </th>
                    <th>Customer Name</th>
                    <th>
                        Total Amount
                    </th>
                    <th>
                       Payment Method
                    </th>
                    <th>
                        Bill Status
                    </th>
                    <th>
                        Cancellation Remarks
                    </th>
                    <th>

                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach(var items in Model)
                {
                    <tr>
                        <td>
                            @items.Id
                        </td>
                        <td>
                            @items.TransactionDate.ToString("yyyy-MM-dd")
                        </td>
                        <td>
                            @foreach (var customer in ViewBag.CustomerInfo)
                            {
                                if (items.CustomerInfoId == customer.Id)
                                {
                                    @customer.CustomerName
                                }
                            }
                           
                        </td>
                        <td>
                            @items.TotalAmount
                        </td>
                        <td>                           
                            @Html.Raw((PaymentMethodEnum)items.PaymentMethod)
                        </td>
                        <td>
                            @Html.Raw((BillStatusEnum)items.BillStatus)
                        </td>
                        <td>
                            @items.CancellationRemarks
                        </td>
                        <td>

                            @if (items.BillStatus == 2)
                            {
                               @*  <a class="btn btn-primary" asp-action="PrintReport" asp-route-id="@items.Id">Print</a> *@
                            }
                            else
                            {
                                <a class="btn btn-danger" onclick="cancell('@items.Id')">Cancell</a>
                                <a class="btn btn-primary" onclick="print('@items.Id')">Print</a>
                            }

                        </td>
                        
                    </tr>
                    
                }
            </tbody>
        </table>
    </div>
</div>



<div id="cancelmodel" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Are you sure want to cancell transaction??</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input id="itemId" hidden />
                <div class="form-floating">
                    <input class="form-control" id="cancelremarks" />
                    <label class="control-label">Cancellation Remarks*</label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="cancellTransaction()">Cancell Transaction</button>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css" asp-append-version="true" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

    <script>
       function cancell(itemId){

            $('#itemId').val(itemId);
           $('#cancelmodel').modal('show');
       }

        function cancellTransaction(){
            var id = $('#itemId').val();
            var cancelremarks = $('#cancelremarks').val();

            if (cancelremarks==''){
                alert("Please Input Cancellation Remarks!!!");
                return;
            }

            $.ajax({
                url: '/api/Transaction/cancellTransaction',
                data: { invoiceId: id, cancellationRemarks: cancelremarks },
                method: 'POST',
            }).done(function (data) {

                console.log(data)

                toastr.success('Transaction Cancelled')

                setTimeout(function () {
                    window.location.reload();
                }, 1500);


            }).fail(function () {

            });


        }


        function print(itemId){
            
            window.open('/Transaction/PrintReport?Id=' + itemId);
        }

    </script>

}