@model IMS.models.ViewModels.TransactionViewModel

<style>
    .leftside {
    }
</style>

<div>
    <p style="font-size:20px;text-align:center">IMS Transaction </p>
</div>

<div class="row" style="border:2px solid blue;padding:10px;">
    <input id="availablequantity" hidden />
    <div class="col-2">
        <div class="form-group">
            <label class="form-label">Category </label>
            <select id="CategoryInfoId" class="form-control" asp-items="@(new SelectList(ViewBag.CategoryInfos,"Id","CategoryName"))">
                <option value="null" selected disabled>-Choose-</option>

            </select>
            <span id="validcategory" class="text-danger"></span>
        </div>
    </div>

    <div class="col-2">
        <div class="form-group">
            <label class="form-label">Product</label>
            <select id="ProductInfoId" class="form-control" asp-items="@(new SelectList(ViewBag.ProductInfos,"Id","ProductName"))">
                <option value="null" selected disabled>-Choose-</option>
            </select>
            <span id="validproduct" class="text-danger"></span>
        </div>
    </div>

    <div class="col-2">
        <div class="form-group">
            <label class="form-label">Batch No</label>
            <select id="BatchNo" class="form-control">
                <option value="null" selected disabled>-Choose-</option>
                <!-- Other batch options -->
            </select>
            <span id="validbatch" class="text-danger"></span>
        </div>
    </div>

    <div class="col-1">
        <div class="form-group">
            <label class="form-label">Price</label>
            <input class="form-control" id="Price" />
            <span id="validprice" class="text-danger"></span>
        </div>
    </div>
    <div class="col-1">
        <div class="form-group">
            <label class="form-label">Unit</label>
            <select id="UnitId" class="form-control" asp-items="@(new SelectList(ViewBag.UnitInfos,"Id","UnitName"))" disabled>
                <option value="null" selected disabled>-</option>
            </select>
            <span id="validunit" class="text-danger"></span>
        </div>
    </div>
    <div class="col-2">
        <div class="form-group">
            <label class="form-label">Qty <a id="avlqty" style="font-size:16px;color:red"> </a>  </label>
            <input class="form-control" id="Quantity" onchange="changeamt()" />
            <span id="validquantity" class="text-danger"></span>
        </div>
    </div>

    <div class="col-1">
        <div class="form-group">
            <label class="form-label">Amount</label>
            <input class="form-control" id="amt" />
            <span id="validamount" class="text-danger"></span>
        </div>
    </div>
    <div class="col-1">
        <a class="btn btn-primary px-4" style="margin-top:30px" id="addbtn">Add</a>

    </div>
</div>
<br />
<div class="row" style="border:1px solid red">

    <div class="col-8" style="border:1px solid red">

        <div class="row">
            <p style="font-size:18px;text-align:center">Purchase List </p>
            <div class="row col-12">

                <table class="table table-bordered" id="listtable" width="100%"></table>

            </div>

        </div>
    </div>

    <div class="col-4" style="border:1px solid red">
        <p style="font-size:18px;text-align:center">Summary </p>

        <div class="row">

            <div class="col-6">
                <label class="col-form-label">Total Item Count :</label>
            </div>
            <div class="col-6">
                <input id="totalCount" class="form-control">
            </div>

        </div>
        <div class="row">

            <div class="col-6">
                <label class="col-form-label">Total Quantity :</label>
            </div>
            <div class="col-6">
                <input id="totalQuantity" class="form-control">
            </div>

        </div>
        <div class="row">

            <div class="col-6">
                <label class="col-form-label">Amount :</label>
            </div>
            <div class="col-6">
                <input id="amount" class="form-control">
            </div>

        </div>
        <div class="row">

            <div class="col-6">
                <label class="col-form-label">Discount :</label>
            </div>
            <div class="col-6">
                <input id="discount" onchange="totalamount()" class="form-control">
            </div>

        </div>
        <div class="row">

            <div class="col-6">
                <label class="col-form-label">Total Amount :</label>
            </div>
            <div class="col-6">
                <input id="totalAmount" class="form-control">
            </div>

        </div>
        <div class="row">
            <div class="col-12">
                <textarea placeholder="Remarks" id="remarks" rows="2" class="form-control"></textarea>
            </div>
        </div>
        <br />
        <div class="col-6">
            <div class="form-floating" asp-item="@(Html.GetEnumSelectList<IMS.models.Enum.PaymentMethodEnum>())">
                <select id="paymentmethod" class="form-select">
                    <option selected value="0">Cash</option>
                    <option value="1">Online</option>
                    <option value="2">Cheque</option>
                    <option value="3">Bank Deposit</option>
                </select>
                <label>Payment Method</label>
                <span class="text-danger"></span>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="form-group">
                <label class="form-label">Select Customer <a class="btn btn-outline-primary btn-sm" onclick="addCustomer()">Add Customer</a>   </label>
                <select id="custometInfo" class="form-control" asp-items="@(new SelectList(ViewBag.CustomerInfos,"Id","CustomerName"))">
                    <option value="null" selected disabled>-Choose-</option>
                </select>

                <span class="text-danger"></span>
            </div>
            


        </div>
        <div class="row">
            <div class="col-6">
                <a class="btn btn-secondary px-4 "asp-action="Index" style="margin-top:30px">Back</a>
            </div>
            <div class="col-6">
                <a class="btn btn-primary px-4 float-end" style="margin-top:30px" id="saveTransaction" tyle="margin-top:30px">Submit</a>
            </div>

        </div>
        <br />
    </div>
</div>


<div id="customermodal" class="modal" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Customer</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="customerform">
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label class="form-label" asp-for="CustomerInfo.CustomerName"></label>
                                <input id="CustomerName" class="form-control" asp-for="CustomerInfo.CustomerName" />
                                <span class="text-danger" asp-validation-for="CustomerInfo.CustomerName"></span>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label class="form-label" asp-for="CustomerInfo.PanNo"></label>
                                <input id="PanNo" class="form-control" asp-for="CustomerInfo.PanNo" />
                                <span asp-validation-for="CustomerInfo.PanNo"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label class="form-label" asp-for="CustomerInfo.PhoneNumber"></label>
                                <input id="PhoneNumber" class="form-control" asp-for="CustomerInfo.PhoneNumber" />
                                <span class="text-danger" asp-validation-for="CustomerInfo.PhoneNumber"></span>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label class="form-label" asp-for="CustomerInfo.Email"></label>
                                <input id="Email" class="form-control" asp-for="CustomerInfo.Email" />
                                <span asp-validation-for="CustomerInfo.Email"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label class="form-label" asp-for="CustomerInfo.Address"></label>
                                <input id="Address" class="form-control" asp-for="CustomerInfo.Address" />
                                <span class="text-danger" asp-validation-for="CustomerInfo.Address"></span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <a id="savebtn" class="btn btn-primary">Save</a>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css" asp-append-version="true" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script>

        function changeamt() {
            var qty = $('#Quantity').val();
            var avlqty = $('#availablequantity').val();
            var dif = avlqty - qty;
            var rate = $('#Price').val();
            if (dif < 0) {
                alert("Quantity not available");
                $('#Quantity').val('');
                return true;
            }
            else {
                var totamt = qty * rate;
                $('#amt').val(totamt);
            }

        }


        $('#CategoryInfoId').change(function () {

            ChangeProduct();
        });

        function ChangeProduct() {

            var categoryId = $('#CategoryInfoId').val();

            $.ajax({
                url: '/api/Transaction/getproduct',
                data: { CategoryId: categoryId },
                method: 'POST',
            }).done(function (data) {

                console.log(data);

                optionDistVal = '<option disabled selected> -Choose- </option>'
                $.each(data['productList'], function (index, value) {
                    optionDistVal += '<option value="' + value['id'] + '">' + value['productName'] + '</option>'
                });

                $('#ProductInfoId').empty();
                $('#ProductInfoId').append(optionDistVal);

            }).fail(function () {

            });


        }


        $('#ProductInfoId').change(function () {
            ChangeUnit();
            ChangeBatch();
        });



        function ChangeUnit() {

            var productId = $('#ProductInfoId').val();

            $.ajax({
                url: '/api/Transaction/getUnit',
                data: { ProductId: productId },
                method: 'POST',
            }).done(function (data) {

                console.log(data);

                $('#UnitId').val(data.product.unitInfoId);

            }).fail(function () {

            });


        }




        function ChangeBatch() {

            var productId = $('#ProductInfoId').val();

            $.ajax({
                url: '/api/Transaction/getBatch',
                data: { ProductId: productId },
                method: 'POST',
            }).done(function (data) {

                console.log(data);

                optionDistVal = '<option disabled selected> -Choose- </option>'
                $.each(data['batchList'], function (index, value) {
                    optionDistVal += '<option value="' + value['id'] + '">' + value['batchNo'] + '</option>'
                });

                $('#BatchNo').empty();
                $('#BatchNo').append(optionDistVal);


            }).fail(function () {

            });


        }


        function addCustomer() {
            $('#customermodal').modal('show');
        }


        $('#savebtn').click(function () {
            var validForm,
                customerform = $('#customerform');
            var obj = {
                CustomerName: $('#CustomerName').val(),
                Email: $('#Email').val(),
                PhoneNumber: $('#PhoneNumber').val(),
                Address: $('#Address').val(),
                PanNo: $('#PanNo').val()
            };

            validForm = fValidation(customerform);
            if (validForm.form()) {


                $.ajax({
                    url: '/api/Customer/addCustomer',
                    data: { model: obj },
                    method: 'POST',
                }).done(function (data) {
                    $('#customermodal').modal('hide');

                    var optioncustomer = '<option value="' + data['id'] + '">' + data['customerName'] + '</option>'

                    $('#custometInfo').append(optioncustomer);

                }).fail(function () {

                });

            }

        });


        $('#BatchNo').change(function () {
            ChangeRate();
        });



        function ChangeRate() {

            var productRateId = $('#BatchNo').val();

            $.ajax({
                url: '/api/Transaction/getProductRate',
                data: { ProductRateId: productRateId },
                method: 'POST',
            }).done(function (data) {

                console.log(data);
                $('#Price').empty();
                $('#Price').val(data.productDetail.sellingPrice);
                $('#availablequantity').val(data.productDetail.remainingQuantity);

                var available = '(Avl: ' + data.productDetail.remainingQuantity + ')';
                $('#avlqty').text(available);

            }).fail(function () {

            });


        }



        $('#addbtn').click(function () {
            addtolist();
        });



        function validateForm() {
            // Clear previous error messages
            $('.text-danger').text('');

            // Get values
            var category = $('#CategoryInfoId').val();
            var product = $('#ProductInfoId').val();
            var batchno = $('#BatchNo').val();
            var rate = $('#Price').val();
            var quantity = $('#Quantity').val();
            var unit = $('#UnitId').val();
            var amount = $('#amt').val();
            var isValid = true;

            console.log(category, product, rate, quantity, unit)

            // Validate category
            if (!category) {
                $('#validcategory').text('Please Select Category');
                isValid = false;
            }

            // Validate product
            if (!product) {
                $('#validproduct').text('Please Select Product');
                isValid = false;
            }
            if (!batchno) {
                $('#validbatch').text('Please Select Batch');
                isValid = false;
            }

            // Validate rate
            if (!rate) {
                $('#validprice').text('Please Input Price');
                isValid = false;
            } else if (isNaN(rate) || rate <= 0) {
                $('#validprice').text('Please Input Price');
                isValid = false;
            }

            // Validate quantity
            if (!quantity) {
                $('#validquantity').text('Please Input Quantity');
                isValid = false;
            } else if (isNaN(quantity) || quantity <= 0) {
                $('#validquantity').text('Please Input valid Quantity');
                isValid = false;
            }

            // Validate unit
            if (!unit) {
                $('#validunit').text('Please Select Unit');
                isValid = false;
            }
            if (!amount) {
                $('#validamount').text('Amount is null');
                isValid = false;
            }

            return isValid;
        }



        function addtolist() {


            if (validateForm()) {


                if (!document.getElementById("dynamictable")) {

                    var tbl = document.createElement("table");
                    tbl.setAttribute('id', 'dynamictable');
                    var header = document.createElement('tr')

                    var headingCell1 = document.createElement('th')
                    var headingText1 = document.createTextNode('Category')
                    headingCell1.setAttribute('name', 'category')
                    headingCell1.appendChild(headingText1)
                    header.appendChild(headingCell1)


                    var headingCell2 = document.createElement('th')
                    var headingText2 = document.createTextNode('Product')
                    headingCell2.setAttribute('name', 'product')
                    headingCell2.appendChild(headingText2)
                    header.appendChild(headingCell2)

                    var headingCell3 = document.createElement('th')
                    var headingText3 = document.createTextNode('Batch')
                    headingCell3.setAttribute('name', 'batch')
                    headingCell3.appendChild(headingText3)
                    header.appendChild(headingCell3)

                    var headingCell4 = document.createElement('th')
                    var headingText4 = document.createTextNode('Price')
                    headingCell4.appendChild(headingText4)
                    header.appendChild(headingCell4)


                    var headingCell5 = document.createElement('th')
                    var headingText5 = document.createTextNode('Unit')
                    headingCell5.setAttribute('name', 'unit')
                    headingCell5.appendChild(headingText5)
                    header.appendChild(headingCell5)


                    var headingCell6 = document.createElement('th')
                    var headingText6 = document.createTextNode('Quantity')
                    headingCell6.appendChild(headingText6)
                    header.appendChild(headingCell6)

                    var headingCell7 = document.createElement('th')
                    var headingText7 = document.createTextNode('Amount')
                    headingCell7.appendChild(headingText7)
                    header.appendChild(headingCell7)

                    var headingCell8 = document.createElement('th')
                    var headingText8 = document.createTextNode('')
                    headingCell8.appendChild(headingText8)
                    header.appendChild(headingCell8)

                    tbl.appendChild(header)


                    var body = document.createElement('tbody')
                    tbl.appendChild(body)
                    document.getElementById("listtable").append(tbl)


                }

                let myTable = document.getElementById('dynamictable').getElementsByTagName('tbody')[0];

                let row = myTable.insertRow();
                let cell1 = row.insertCell(0);
                let cell2 = row.insertCell(1);
                let cell3 = row.insertCell(2);
                let cell4 = row.insertCell(3);
                let cell5 = row.insertCell(4);
                let cell6 = row.insertCell(5);
                let cell7 = row.insertCell(6);
                let cell8 = row.insertCell(7);

                cell1.setAttribute('data-name-category', $("#CategoryInfoId option:selected").val())
                cell1.innerHTML = $("#CategoryInfoId option:selected").text();
                cell2.setAttribute('data-name-product', $("#ProductInfoId option:selected").val())
                cell2.innerHTML = $("#ProductInfoId option:selected").text();
                cell3.setAttribute('data-name-batch', $("#BatchNo option:selected").val())
                cell3.innerHTML = $("#BatchNo option:selected").text();
                cell4.innerHTML = $('#Price').val();
                cell5.setAttribute('data-name-unit', $("#UnitId option:selected").val())
                cell5.innerHTML = $("#UnitId option:selected").text();
                cell6.innerHTML = $('#Quantity').val();
                cell7.innerHTML = $('#amt').val();

                var btn = document.createElement('input');
                btn.type = "button";
                btn.className = "btn";
                btn.className = "btn-primary"
                btn.name = "Delete"
                btn.value = "Delete"
                btn.setAttribute('onclick', 'DeleteRows(this)')
                cell8.appendChild(btn);

                getsummary();
            }
            reset();
        }


        function getsummary() {
            var precount = ($('#totalCount').val() == '') ? 0 : $('#totalCount').val();
            var count = parseFloat(precount) + 1;
            $('#totalCount').val(count);

            var preqty = ($('#totalQuantity').val() == '') ? 0 : $('#totalQuantity').val();
            var curqty = $('#Quantity').val();
            var qty = parseFloat(preqty) + parseFloat(curqty);
            $('#totalQuantity').val(qty);

            var preamt = ($('#amount').val() == '') ? 0 : $('#amount').val();
            var curamt = $('#amt').val();
            var amount = parseFloat(preamt) + parseFloat(curamt);
            $('#amount').val(amount);

            totalamount();
        }
        function totalamount() {
            var dis = ($('#discount').val() == '') ? 0 : $('#discount').val();
            var amt = ($('#amount').val() == '') ? 0 : $('#amount').val();
            var tot = parseFloat(amt) - parseFloat(dis);
            $('#totalAmount').val(tot);

        }

        function DeleteRows(btn) {
            var row = btn.parentNode.parentNode;
            console.log(row.rowIndex)

            var amount = document.getElementById('dynamictable').rows[row.rowIndex].cells[6].innerHTML;
            var quantity = document.getElementById('dynamictable').rows[row.rowIndex].cells[5].innerHTML;

            var cnt = $('#totalCount').val();
            var newcnt = parseFloat(cnt) - 1;
            $('#totalCount').val(newcnt);

            var qty = $('#totalQuantity').val();
            var totqty = parseFloat(qty) - parseFloat(quantity);
            $('#totalQuantity').val(totqty);

            var preamt = $('#amount').val();
            var totamt = parseFloat(preamt) - parseFloat(amount);
            $('#amount').val(totamt);
            totalamount();

            var row = btn.parentNode.parentNode;
            row.parentNode.removeChild(row);
        };

        function reset() {
            $('#availablequantity').val('');
            $('#avlqty').text('');
            $('#CategoryInfoId').val('null');
            $('#ProductInfoId').val('null');
            $('#BatchNo').val('null');
            $('#Price').val('');
            $('#Quantity').val('');
            $('#UnitId').val('');
            $('#amt').val('');
        }


        $('#custometInfo').change(function () {
            Changecustomer();
        });



        function Changecustomer() {

            var custometId = $('#custometInfo').val();

            $.ajax({
                url: '/api/Transaction/getCustomer',
                data: { custometId: custometId },
                method: 'POST',
            }).done(function (data) {

                console.log(data);
                $('#name').val('');
                $('#panno').val('');
                $('#phoneno').val('');
                $('#name').val(data.customerInfo.customerName);
                $('#panno').val(data.customerInfo.panNo);
                $('#phoneno').val(data.customerInfo.phoneNumber);
            }).fail(function () {

            });


        }
        $(document).ready(function () {
            $('#custometInfo').select2({
                maximumInputLength: 20,
                placeholder: "Serach Customer"

            });
        });


        $('#saveTransaction').click(function () {

            SaveTransaction();

        });


        function SaveTransaction() {

            var transactionViewModel = '';

            var productInvoiceInfo = {
                CustomerInfoId: $('#custometInfo').val(),
                NetAmount: $('#amount').val(),
                DiscountAmount: $('#discount').val(),
                TotalAmount: $('#totalAmount').val(),
                Remarks: $('#remarks').val(),
                PaymentMethod: $('#paymentmethod').val()

            };

            var TableData = new Array();
            $('#dynamictable tr').each(function (row, tr) {

                TableData[row] = {
                    "ProductRateInfoId": $(tr).find('td:eq(2)').data('name-batch'),
                    "Rate": $(tr).find('td:eq(3)').text(),
                    "Quantity": $(tr).find('td:eq(5)').text(),
                    "Amount": $(tr).find('td:eq(6)').text()
                }
            });

            TableData.shift();
            console.log(TableData)

            transactionViewModel = {
                ProductInvoiceInfo: productInvoiceInfo,
                ProductInvoiceDetailInfos: TableData
            };

            $.ajax({
                url: '/api/Transaction/saveTransaction',
                data: { transactionViewModel: transactionViewModel },
                method: 'POST',
            }).done(function (data) {

                console.log(data)

                toastr.success('Transaction Completed')

                window.open('/Transaction/PrintReport?Id=' + data);

                setTimeout(function () {
                    window.location.reload();
                }, 1500);


            }).fail(function () {

            });

        }




    </script>

}