@model IEnumerable<IMS.models.Entity.StoreInfo>


<div class="row">
	<div class="col-6">
		<a class="btn btn-primary float-left mb-2" asp-action="AddEdit">AddNew</a>
	</div>
	
</div>

	<div class="row">
		<div class="col-12">
			<table class="table table-bordered">
				<thead>
					<tr>
						<th>
							Store Name
						</th>

						<th>
							Address
						</th>
						<th>
						Phone Number
						</th>
							
						<th>
							Pan No.
						</th>

						<th>
							Registration No.
						</th>

						<th>
							IsActive
						</th>

						<th>
							Action
						</th>
					</tr>

				</thead>
				<tbody>
				@foreach(var items in Model)
				{
					<tr>
						<td>
							@items.StoreName
						</td>

						<td>
							@items.Address
						</td>

						<td>
							@items.PhoneNumber
						</td>

						<td>
							@items.PanNo
						</td>

						<td>
							@items.RegistrationNo
						</td>

						<td>
							@items.IsActive
						</td>
						@* <td>
							@items.Action
						</td> *@

						

						<td>
							<a class="btn btn-outline-primary btn-sm" asp-action="AddEdit" asp-route-id="@items.Id">Edit</a>
							<a class="btn btn-outline-danger btn-sm" asp-action="Delete" onclick="return confirm('Are you sure you want to delete')" asp-route-id="@items.Id">Delete</a>
						</td>
					</tr>
				}
			</tbody>
			</table>
		</div>

	</div>