@model IMS.models.ViewModels.ReportViewModel
@using IMS.models.Enum

<p style="font-size:20px;">Detail Report</p>
<div class="row">
    <div class="col-12">
        <a class="btn btn-primary float-end" onclick="print()">Print</a>
    </div>
</div>
<form asp-action="SearchDetail" method="get">
    <div class="row">
        <div class="col-3">
            <div class="form-floating">

                <select asp-for="SearchCriteria.CustomerId" id="customerId" class="form-select" asp-items="@(new SelectList(ViewBag.CustomerInfo,"Id","CustomerName"))">
                    <option value="null" selected>-Choose-</option>
                </select>
                <label class="form-label">Customer Name</label>
                <span id="validproduct" class="text-danger"></span>
            </div>
        </div>
        <div class="col-3">
            <div class="form-floating">

                <select asp-for="SearchCriteria.SupplierId" id="supplierId" class="form-select" asp-items="@(new SelectList(ViewBag.SupplierInfo,"Id","SupplierName"))">
                    <option value="null" selected>-Choose-</option>
                </select>
                <label class="form-label">Supplier</label>
                <span id="validproduct" class="text-danger"></span>
            </div>
        </div>
        <div class="col-3">
            <div class="form-floating">

                <select asp-for="SearchCriteria.CategoryId" id="categoryId" class="form-select" asp-items="@(new SelectList(ViewBag.CategoryInfos,"Id","CategoryName"))">
                    <option value="null" selected>-Choose-</option>
                </select>
                <label class="form-label">Category</label>
                <span id="validproduct" class="text-danger"></span>
            </div>
        </div>
        <div class="col-3">
            <div class="form-floating">

                <select asp-for="SearchCriteria.ProductId" id="productId" class="form-select" asp-items="@(new SelectList(ViewBag.ProductInfos,"Id","ProductName"))">
                    <option value="null" selected>-Choose-</option>
                </select>
                <label class="form-label">Product</label>
                <span id="validproduct" class="text-danger"></span>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-3">
            <div class="form-floating">
                <input type="date" class="form-control" id="StartDate" asp-for="SearchCriteria.StartDate" />
                <label class="form-label">Start Date</label>
                <span id="validproduct" class="text-danger"></span>
            </div>
        </div>
        <div class="col-3">
            <div class="form-floating">
                <input type="date" class="form-control" id="EndDate" asp-for="SearchCriteria.EndDate" />
                <label class="form-label">End Date</label>
                <span id="validproduct" class="text-danger"></span>
            </div>
        </div>
        <div class="col-3">
            <div class="form-floating">

                <select asp-for="SearchCriteria.PaymentMethod" id="paymentMethod" class="form-select" asp-items="@(Html.GetEnumSelectList<IMS.models.Enum.PaymentMethodEnum>())">
                    <option value="null" selected>-Choose-</option>
                </select>
                <label>Payment Method</label>
                <span class="text-danger"></span>
            </div>
        </div>
        <div class="col-3">
            <button type="submit" class="btn btn-primary mt-2">Search</button>
        </div>
    </div>
</form>
<br />
@if (Model.ReportDetailViewModels != null)
{
    <div class="row" style="overflow-x:auto">
        <div class="col-12">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>
                            Transaction Id
                        </th>
                        <th>
                            Transaction Date
                        </th>
                        <th>
                            Customer Name
                        </th>
                        <th>
                            Category
                        </th>
                        <th>
                            Product
                        </th>
                        
                        <th>
                            Amount
                        </th>
                        
                        <th>
                            PaymentMethod
                        </th>
                        <th>
                            Supplier
                        </th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var items in Model.ReportDetailViewModels)
                    {
                        <tr>
                            <td>
                                @items.TransactionId
                            </td>
                            <td>
                                @items.TransactionDate.ToString("yyyy-MM-dd")
                            </td>
                            <td>
                                @items.CustomerName
                            </td>
                            <td>
                                @items.CategoryName
                            </td>
                            <td>
                                @items.ProductName
                            </td>
                            <td>
                                @items.Amount
                            </td>
                            
                            <td>
                                @Html.Raw((PaymentMethodEnum)items.PaymentMethod)
                            </td>
                            <td>
                                @items.SupplierName
                            </td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}


@section Scripts {
    <script>
        $('#categoryId').change(function () {

            ChangeProduct();
        });

        function ChangeProduct() {

            var categoryId = $('#categoryId').val();

            $.ajax({
                url: '/api/ProductRate/getproduct',
                data: { CategoryId: categoryId },
                method: 'POST',
            }).done(function (data) {

                console.log(data);

                optionDistVal = '<option disabled selected> -Choose- </option>'
                $.each(data['productList'], function (index, value) {
                    optionDistVal += '<option value="' + value['id'] + '">' + value['productName'] + '</option>'
                });

                $('#productId').empty();
                $('#productId').append(optionDistVal);

            }).fail(function () {

            });

        }
        function print() {
            var CustomerId = $('#customerId').val();
            var SupplierId = $('#supplierId').val();
            var CategoryId = $('#categoryId').val();
            var ProductId = $('#productId').val();
            var StartDate = $('#StartDate').val();
            var EndDate = $('#EndDate').val();
            var PaymentMethod = $('#paymentMethod').val();

            window.open('/Report/PrintReportDetail?customerIds=' + CustomerId + '&paymentMethodIds=' + PaymentMethod + '&startDates=' + StartDate + '&endDates=' + EndDate + '&supplierIds=' + SupplierId + '&categoryIds=' + CategoryId + '&productIds=' + ProductId);
        }
    </script>
}