@model IEnumerable<IMS.models.Entity.CustomerInfo>

<div class="row">
    <div class="col-12">
        <a class="btn btn-primary float-end" asp-action="AddEdit">Add New</a>
    </div>
</div>

<div class="row col-12">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(p => p.CustomerName)
                </th>
                <th>
                    @Html.DisplayNameFor(p => p.PhoneNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(p => p.PanNo)
                </th>
                <th>
                    @Html.DisplayNameFor(p => p.Address)
                </th>
                <th>
                    @Html.DisplayNameFor(p => p.Email)
                </th>

                <th>
                    Action
                </th>
            </tr>
        </thead>

        <tbody>
            @foreach (var items in Model)
            {
                <tr>
                    <td>
                        @items.CustomerName
                    </td>
                    <td>
                        @items.PhoneNumber
                    </td>
                    <td>
                        @items.PanNo
                    </td>
                    <td>
                        @items.Address
                    </td>
                    <td>
                        @items.Email
                    </td>

                    <td>
                        <a class="btn btn-primary btn-sm" asp-action="AddEdit" asp-route-id="@items.Id">Edit</a>
                    </td>

                </tr>
            }



        </tbody>

    </table>

</div>